<div class="container" style="margin-top: 70px;">
  <div class="row">
    <div class="col-sm-3">
      <ng-container *ngIf="!guessingPhase">
        <h3><small>Try to remember this position.</small></h3>
        {{seconds}}
      </ng-container>

      <h3 *ngIf="guessingPhase"><small>Drag pieces to replicate previous position.</small></h3>
    </div>
    <div class="col-sm-6" id="board1" style="width: 800px"></div>

    <div class="col-sm-3">
    </div>
  </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center">
        <br>
        <button *ngIf="!guessingPhase" class="btn btn-primary" (click)="clearBoard()">Clear board</button>
        <ng-container *ngIf="guessingPhase">
          <button class="btn btn-success" (click)="compareGuess()">I'm ready</button>
        </ng-container>
        <br>
        <h1>{{winning}}</h1>
      </div>
      <div class="col-md-3"></div>
  </div>
